body { background: #217f86; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 34px; display: flex; }
.block-validator-0 { color: #cd3e28; font-size: 15px; margin-bottom: 5px; }
.block-logger-1 { color: #9a5774; font-size: 16px; margin-bottom: 5px; }
.block-search-2 { color: #b2f551; font-size: 20px; margin-bottom: 5px; }
.block-router-3 { color: #245d3a; font-size: 16px; margin-bottom: 5px; }
.block-user-4 { color: #c61d38; font-size: 21px; margin-bottom: 5px; }
.block-invoice-5 { color: #8920a5; font-size: 13px; margin-bottom: 5px; }
.block-order-6 { color: #b62936; font-size: 13px; margin-bottom: 5px; }
.block-product-7 { color: #9e6ec6; font-size: 14px; margin-bottom: 5px; }
.block-metrics-8 { color: #f1cc03; font-size: 13px; margin-bottom: 5px; }
.block-order-9 { color: #8eda14; font-size: 19px; margin-bottom: 5px; }
.block-sms-10 { color: #56c98e; font-size: 12px; margin-bottom: 5px; }
.block-validator-11 { color: #2f07cc; font-size: 14px; margin-bottom: 5px; }